


    /* font-family: 'Montserrat Subrayada', sans-serif;


    font-family: 'Roboto Slab', serif;
 */


 html {
    scroll-behavior: smooth;
 }
.header {
    background:url("../img/image-bg.jpeg") no-repeat center ;
    
    background-size: cover;
    height: 100vh;
    /* background-image: url("../img/image-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px; */
    /* width: 1300px; */
    /* width: 100vh; */
    /* width: 100vmax;
    height: 100vmin; */
    /* max-width: 100%; */
}

.container {
    width: 1170px;
    margin: 0 auto;
}
  
.header .navbar .menu {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-top: 50px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    
}

.header .navbar .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .navbar .menu ul li {
    display: inline-block;
    margin: 0 25px;
}

.header .navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.header .accueil {
    text-align: center;
    margin-top: 200px;
}

.header .accueil h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.header .accueil h2 {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}

/* Mes Réalisations (Projets) */

.projets {
    padding: 120px 0;
    background-color: darkgray;
}

.projets .section-title {
    text-align: center;
}

.projets .section-title h1 {
    font-size: 30px;
    margin-bottom: 20px;
}


.projets .section-title p {
    font-style: italic;
    font-size: 16px;
}

.projets .row1 .item {
    float: left;
    width: 46%;
    margin-right: 2%;
    text-align: center;
    padding-bottom: 30px;
}

.projets .row1 .item img {
    width: 100%;
    /* padding-top: 25%; */
}

.projets .row1 .item p {
    font-style: italic;
}

.projets .row2 .item {
    float: left;
    width: 46%;
    margin-right: 2%;
    text-align: center;
    padding-bottom: 30px;
}

.projets .row2 .item img {
    width: 100%;
}

.projets .row2 .item p {
    font-style: italic;
}





     
    

