


    /* font-family: 'Montserrat Subrayada', sans-serif;


    font-family: 'Roboto Slab', serif;
 */

.header {
    background-image: url("../img/image-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 1300px;

}

.container {
    width: 1170px;
    margin: 0 auto;
}
  
.header .navbar .menu {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-top: 50px; 
}

.header .navbar .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .navbar .menu ul li {
    display: inline-block;
    margin: 0 25px;
}

.header .navbar ul li a {
    color: #fff;
    text-decoration: none;
}



     
    

