


     font-family: 'Montserrat Subrayada', sans-serif;


    font-family: 'Roboto Slab', serif;
 


 html {
    scroll-behavior: smooth;
    
 }

.header {
    background:url("../img/image-bg.jpeg") no-repeat center ;
    opacity: 0.8;
    
    background-size: cover;
    height: 100vh;
    /* background-image: url("../img/image-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px; */
    /* width: 1300px; */
    /* width: 100vh; */
    /* width: 100vmax;
    height: 100vmin; */
    /* max-width: 100%; */
}

.container {
    width: 1170px;
    margin: 0 auto;
}
 
.menu {
    text-shadow: #fff 2px 4px 2px;

}
.header .navbar .menu {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-top: 50px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    
}

.header .navbar .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .navbar .menu ul li {
    display: inline-block;
    margin: 0 25px;
}

.header .navbar ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold; 
}

.clearfix {
    clear: both;
}

.header .accueil {
    text-align: center;
    margin-top: 200px;
}

.header .accueil h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-shadow: #fff 2px 4px 2px;
    
}

.header .accueil h2 {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}

/* Mes Réalisations (Projets) */

.projets {
    padding: 120px 0;
    background-color: darkgray;
}

.projets .section-title {
    text-align: center;
    margin-bottom: 60px;
}

.projets .section-title h1 {
    font-size: 30px;
    margin-bottom: 20px;
}


.projets .section-title p {
    font-style: italic;
    font-size: 16px;
}

.projets .row1 {
    margin-bottom: 50px;
}

.projets .row1 .item {
    float: left;
    width: 46%;
    margin-right: 2%;
    text-align: center;
    padding-bottom: 30px;
}

.projets .row1 .item img {
    width: 100%;
    /* padding-top: 25%; */
}

.projets .row1 .item p {
    font-style: italic;
}

.projets .row2 .item {
    float: left;
    width: 46%;
    margin-right: 2%;
    text-align: center;
    padding-bottom: 30px;
}

.projets .row2 .item img {
    width: 100%;
}

.projets .row2 .item p {
    font-style: italic;
}

     /* Compétences css */

.competence {
	color: #c5cae9;
	font-weight: bold;
	text-shadow: 2px 2px #222;
}

.barre {
	width: 100%;
	background-color: #c5cae9;
	border-radius: 10px;
	border: 1px solid #fff;
}

div {
	border-radius: 10px;
}

.niveau {
	text-align: right;
	padding: 10px;
	color: #212121;
}

.html { width: 60%; background-color: #607d8b; }
.css { width: 50%; background-color: #607d8b; }
.js { width: 40%; background-color: #607d8b; }
.vueJs { width: 30%; background-color: #607d8b; }
.react { width: 30%; background-color: #607d8b; }
.vScode {width: 50%; background-color: #607d8b;}
.vim {width: 30%; background-color: #607d8b;}
.github {width: 40%; background-color: #607d8b;}
.linux { width: 50%; background-color: #607d8b; }

    /* Formulaire de contact */

    fieldset {
        margin: 15px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 15px;
    
        background-color: lightgrey;
    }

    form {
        text-align: center;
    }

    input[type="text"],input[type="email"], textarea {
        font-family: Arial;
        font-size: 1.5rem;
    
        border: 2px solid #607d8b;
        border-radius: 10px;
        padding: 6px;
    
        width: 90%;
    }

    input[name="check"] {
        width: 17px;
        padding: 4px;
    }
    
    input[type="text"]:focus, input[type="number"]:focus, textarea:focus, input[type="email"]:focus {
            background-color: #faffaf;
    }
    
    input[type=submit]:hover {
        background-color: #fff;
        cursor: pointer;
        border-radius: 5px;
    
        box-shadow: 0 0 16px #333;
    }

    footer {
        background-color: #c5cae9;
    
        text-align: right;
        color: #c5cae9;
        line-height: 1.8;
        padding: 10px;
        margin-bottom: 10px;
    
        border-top: 2px solid #c5cae9;
        border-bottom: 2px solid #c5cae9;

    }


    a:hover {
	color: #fff;
	text-decoration: none;
}

    ul {
	margin: 5px;
	padding: 5px;
}

    li {
	display: inline;
}


.txt-center {
	text-align: center;
}

#go {
	position: fixed;
	right: 10px;
	bottom: 10px;
}


    
    





     
    

